name: CI workflow

on: pull_request

jobs:
  build:
    runs-on: macos-latest
    timeout-minutes: 20

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup JDK environment
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 11

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Run KtLint
        uses: gradle/gradle-build-action@v2
        with:
          arguments: lintKotlin

      - name: Run Detekt
        uses: gradle/gradle-build-action@v2
        with:
          arguments: detekt

      - name: Assemble app
        uses: gradle/gradle-build-action@v2
        with:
          arguments: assembleDebug --stacktrace

      - name: Run unit tests
        uses: gradle/gradle-build-action@v2
        with:
          arguments: app:testDebugUnitTest basic-feature:testDebugUnitTest --stacktrace

      - name: Run instrumentation tests
        uses: ReactiveCircus/android-emulator-runner@v2
        with:
          api-level: 24
          disable-animations: false
          script: ./gradlew connectedCheck --stacktrace
